.single-container.animsition.siindex
  .exhibiton-header
    .exhibition-wrapper
      = link_to image_tag("logo.svg", width: '185', height: '49', alt: 'メインアイコン'), root_path, class: "animsition-link"
  %main.single-main
    %section.l-single-container
      %h2.new-registration 新規会員登録
      .new-registration-form
        .new-registration-form__content
          =link_to "/signup/registration", class: "mail-btn", data: {"turbolinks" => false} do
            =fa_icon "envelope", class: "mail-icon"
            メールアドレスで登録する
          - if Rails.env.development?
            =link_to user_facebook_omniauth_authorize_path, class: "facebook-login", method: :post do
              =fa_icon "facebook", class: "facebook-icon"
              Facebookで登録する
            =link_to user_google_oauth2_omniauth_authorize_path, class: "google-login", method: :post do
              Googleで登録する
          - else
            %button.facebook-login
              =fa_icon "facebook", class: "facebook-icon"
              Facebookで登録する
            %button.google-login
              Googleで登録する

  = render 'shared/signup_footer'
