.single-container
  %header.single-header
    %h1.mercari-logo
      = link_to image_tag("logo.svg", alt: "mercari"), "/signup", class: "mercari-logo__link"
    %nav.progress-bar
      %ol.clearfix
        %li
          会員情報
          .progress-status.first{style: "background-color: red;"}
        %li.active
          電話番号認証
          .progress-status.right-gray
        %li 
          お届け先住所入力
          .progress-status.gray
        %li 
          支払い方法
          .progress-status.gray
        %li 
          完了
          .progress-status.last.gray
  %main.single-main
    %section.l-single-container
      %h2.new-registration 電話番号の確認
      %form.new-registration-form
        .new-registration-form__content
          .new-registration-form__content--form{style: "margin-top: 0;"}
            %label{for: "phone_number"} 携帯電話の番号
            %input.input-default{type: "tel", name: 'phone_number', placeholder: "携帯電話の番号を入力"}
          %p.sms-info 本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
          %button{type: "submit", class: "next-btn"}SMSを送信する
          %p.sms-info ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
          .new-registration-form__content--form.text-right
            %p
              =link_to "電話番号の確認が必要な理由", "/signup/address", method: 'get'
              =fa_icon "angle-right", class: "arrow-right"
  %footer.single-footer
    フッターは部分テンプレートです。