.other-items{
  width: 700px;
  margin: 0 auto;
  &__user{
    &__head{
      font-size: 22px;
      margin: 24px 0 8px;
      a{
        color: #0099e8;
        text-decoration: none;
      }
    }
    &__contents{
      display: flex;
      flex-wrap: wrap;
      &__content{
        width: 220px;
        margin: 10px 6px 10px;
        background-color: white;
        a{
          display: block;
          text-decoration: none;
          .other-items__user__contents__content__photo{
            display: block;
            img{
              display: inline;
              width: 220px;
              height: 220px;
            }
          }
          .other-items__user__contents__content__body{
            padding: 16px;
            height: 110px;
            &__name{
              font-weight: 400;
              height: 90px;
              line-height: 1.5;
              word-break: break-word;
              white-space: normal;
              font-size: 16px;
              color: #333;
            }
            &__num{
              display: flex;
              justify-content: space-between;
              height: 15px;
              &__price{
                font-size: 17px;
                font-weight: 600;
                color:#333;
                max-width: 40px;
              }
              &__like{
                font-size: 16px;
                font-weight: 400;
                color: #333;
              }
            }
          }
        }
      }
    }
  }
}