.submit-btn-link {
  margin: 32px 0 0;
  color: #fff;
  bottom: 32px;
  right: 32px;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  position: fixed;
  background: #ea352d;
  text-align: center;
  .submit-btn{
    margin: 32px 0 0;
    font-size: 22px;
  }
  .submit-button-icon {
    font-size: 54px;
  }
}