.other-items
  %section.other-items__user
    .other-items__user__head
      = link_to '出品者さんのその他の出品', inagawa_item_detail_path 
    .other-items__user__contents
      %section.other-items__user__contents__content
        = link_to inagawa_item_detail_path do
          .other-items__user__contents__content__photo
            = image_tag("mark-zuckerberg1.jpg")
          .other-items__user__contents__content__body
            .other-items__user__contents__content__body__name ザック
            .other-items__user__contents__content__body__num
              .other-items__user__contents__content__body__num__price ¥100
              .other-items__user__contents__content__body__num__like
                %i.far.fa-heart
                  %span 2