%section.item
  = link_to  root_path do
    .item__photo
      = image_tag("mark-zuckerberg1.jpg")
    .item__body
      .item__body__name ザック
      .item__body__num
        .item__body__num__price ¥100
        .item__body__num__like
          %i.fa.fa-heart
            %span 2