.default-container  
  = render 'shared/header'

  %main.logout-content
    %section.logout-card
      %section.settings-logout-card
        %button.logout-card-content
          = link_to 'ログアウト', noguchi_path, class: 'logout-button'
      

    .mypage-card-side
      = render 'shared/mypage_nav'
  
  = render 'shared/footer'