.default-container  
  = render 'shared/header'
  .mypage-card
    .mypage-card-main
      = render 'shared/credit_card'



    .mypage-card-side
      = render 'shared/mypage_nav'
  = render 'shared/footer'