-# グローバルフッター

%aside.app__banner
  .app__banner-pc
    .app__banner__left-side
      %h2 = スマホでかんたんフリマアプリ
      %p = 今すぐ無料ダウンロード！
      .app__banner__left-side__inner
        .app__banner__left-side__inner-left
          %figure.app__banner__left-side__inner-left__icon
        %ul.app__banner__left-side__inner-right
          %li 
            = link_to ************, class: "app__banner__left-side__inner-right__apple" do
          %li.app__banner__left-side__inner-right__google
            = link_to ************, class: "app__banner__left-side__inner-right__google" do
    .app__banner__right-side
