-# グローバルフッター

%aside.app__banner
  .app__banner__box
    .app__banner__box__left-side
      %h2 = スマホでかんたんフリマアプリ
      %p = 今すぐ無料ダウンロード！
      .app__banner__box__left-side__inner
        %figure.app__banner__box__left-side__inner__left
        %ul.app__banner__box__left-side__inner__right
          %li.app__banner__box__left-side__inner__right__apple
            = link_to new_group_path, class: "app__banner__left-side__inner-right__apple" do
          %li.app__banner__box__left-side__inner__right__google
            = link_to new_group_path, class: "app__banner__left-side__inner-right__google" do
    .app__banner__box__right-side
