.exhibition

  .header
    .header__logo
      メルカリ
  .content
    .content__title
      商品の情報を入力
    .content__images
      出品画像
      最大10枚までアップロードできます
    .content__information
      商品名
      商品の説明
    .content__details
      商品の詳細
    .content__shipping
      発送について
    .contetnt__price
      販売価格(300〜9,999,999)
    .content__notice
      禁止されている出品、行為を必ずご確認ください。。。

  .footer
    .footer__lists
      プライバシーポリシー
      メルカリ利用規約
      特定商取引に関する表記
    .footer__logo
      = link_to "https://www.mercari.com/jp/"
    .footer__title
      ©️ 2019 メルカリ