// 〜〜〜アイテム関係全般〜〜〜

// アイテム詳細ページ全体のスタイル
.container{
  position: relative;
  background: #f5f5f5;
  font-size: 14px;
  color: #333;
  .bread-crumbs{
    list-style: none;
    position: relative;
    border-top: 1px solid #eee;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
    background: #fff;
    ul{
      width: 1020px;
      padding: 16px;
      margin: 0 auto;
      display: block;
      padding-inline-start: 40px;
      li{
        display: inline-block;
        font-size: 14px;
        line-height: 1.2;
        .bread-crumbs__link{
          color: #333;
          text-decoration: none;
          touch-action: manipulation;
          border-style: solid;
          border-width: 0;
          opacity:0.7;
          cursor: pointer;
        }
        & :hover{
          border-bottom: solid 1px;
        }
      }
      li{
        display: inline-block;
        font-size: 14px;
        cursor: pointer;
        span{
          font-weight: 600;
        }
      }
    }
  }
  .item-wrapper{
    width:700px;
    margin: 40px auto 0;
    padding: 24px 16px 55px 16px;
    .item-box{
      background: #fff;
      padding: 24px 40px 40px;
      &__item-name{
        font-size: 24px;
        text-align: center;
        word-wrap: break-word;
        margin: 0;
        padding: 0;
        font-weight: bold;
      }
      &__main-content{
        margin: 16px 0 0;
        &__photo{
          position: relative;
          margin: 0 auto;
          background: #fafafa;
          float: left;
          width: 300px;
          height: 420px;
        }
        &__detail{
          float: right;
          max-width: 300px;
          height: 420px;
          margin: 0 auto;
          border-spacing: 0;
          display: table;
            tbody{
              float: right;
              max-width: 300px;
              margin: 0 auto;
              tr{
                th{
                  width: 39%;
                  text-align: left;
                  font-weight: 400;
                  background: #fafafa;
                  border-collapse: collapse;
                  border: 1px solid #f5f5f5;
                  padding: 16px 8px;
                }
                td{
                  width: 61%;
                  background: #fff;
                  border-collapse: collapse;
                  border: 1px solid #f5f5f5;
                  padding: 8px;
                  .icon-arrow {
                    color: #0099e8;
                  }
                  a{
                    margin: 0;
                    color: #0099e8;
                    text-decoration: none;
                  }
                  .item-box__main-content__detail__ratings{
                    &__rate{
                      display: inline-block;
                      .fa.fa-grin{color: #ef5185;}
                    }
                    .item-box__main-content__detail__ratings__rate{
                      display: inline-block;
                      .fa.fa-meh{color: #fba933;}
                    }
                    .item-box__main-content__detail__ratings__rate{
                      display: inline-block;
                      .fa.fa-frown{color: #6ab5d8;}
                    }
                  }
                }
              }
            }
        }
        &__price-box{
          clear: both;
          text-align: center;
          margin: 24px 0 0;
          &__price{
            margin: 0 8px 0 0;
            font-size: 32px;
          }
          &__tax{
            font-size: 10px;
          }
          &__shipping-fee{
            display: inline-block;
            font-size: 16px;
          }
        }
        &__buy{
          display: block;
          &__btn{
            display: block;
            height: 56px;
            width:100%;
            margin: 16px 0 0;
            background: #ea352d;
            color: #fff;
            line-height: 56px;
            text-align: center;
            font-weight: 600;
            font-size: 18px;
          }
          #item-delete-btn {
            width: 100%;
            height: 60px;
          }
        }
      }

      .item-box__description{
        padding: 24px 0 0;
        line-height: 1.5;
        &__text{
          white-space: pre-wrap;
        }
      }
      .item-box__btn{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &--left{
          padding: 8px 16px;
          margin: 16px 0 0;
          &--like{
            color: #333;
            border: 1px solid #f5f5f5;
            background: #f5f5f5;
            border-radius: 40px;
            padding: 8px 16px;
            &--font1{
              font-size: 14px;
              vertical-align: middle;
              color: pink; 
            }
            &--font{
              font-size: 14px;
              vertical-align: middle;
              color:#ccc;
            }

          }
          &--report{
            margin: 0 0 0 8px;
            color: #333;
            background: #f5f5f5;
            padding: 8px 16px;
            border-radius: 40px;
            .fa.fa-flag{
              font-weight: 400;
              font-size: 14px;
              vertical-align: middle;
              color: #333;
            }
            span{
              display: inline-block;
              margin: 1px 0 0 8px;
              font-size: 12px;
              vertical-align: middle;
            }
          }
        }
        &--right{
          margin: 8px 0 0;
          float: right;
          &__safety{
            color: #0099e8;
            text-decoration: none;
          }
        }
      }
    }
   
    .item-message{
      margin: 8px auto;
      &__container{
        background: #fff;
        padding: 24px 40px 40px;
        &__content{
          &__form{
            p{
              padding: 8px;
              font-size: 14px;
              background: #fff6de;
            }
            textarea{
              margin: 8px 0 0;
              display: block;
              width: 600px;
              max-width: 100%;
              min-height: 104px;
              padding: 10px;
              border: 1px solid #ccc;
              background: #fff;
              font-size: 16px;
              line-height: 1.5;
            }
            &__submit-btn{
              width: 100%;
              margin: 8px 0 0;
              text-align: center;
              background: #aaa;
              border: 1px solid #aaa;
              color: #fff;
              font: 400 11px system-ui;
              line-height: 48px;
              span{
                font-size: 14px;
                vertical-align: middle;
              }
            }
          }
        }
      }
    }
    .item-link{
      margin: 24px auto 0;
      display: flex;
      justify-content: space-between;
      .item-link__prev{
        width:43%;
        a{
          color: #0099e8;
          text-decoration: none;
        }
      }
      &__next{
        position: relative;
        width: 43%;
        word-wrap: break-word;
        padding: 0 14px 0 0;
        text-align: right;
        a{
          color: #0099e8;
          text-decoration: none;
        }
      }
    }
    .item-social-media{
      margin: 24px auto;
      padding: 32px 0 24px;
      width: 700px;
      background: #fff;
      text-align: center;
      &__list{
        li{ display: inline-block;
            margin: 0 8px 8px 0;
            font-size:44px;
          .facebook{
            border-radius: 4px;
            i{
              color:#385185;
            }
          }
          .twitter{
            i{
              color: #5d9dc9;
            }
        }
          .pinterest{
            i{
              color:#aa262a;
            }
          }
        }
      }
    }
    .other-items{
      width: 700px;
      margin: 0 auto;
      &__user{
        &__head{
          font-size: 22px;
          margin: 24px 0 8px;
          a{
            color: #0099e8;
            text-decoration: none;
          }
        }
        &__contents{
          display: flex;
          flex-wrap: wrap;
        }
      }
    }
  }
}
// ここまでアイテム詳細ページ全体のスタイル

// アイテム詳細ページのアイテム一つあたりのスタイル
.item{
  width: 220px;
  margin: 10px 6px 10px;
  background-color: white;
  a{
    display: block;
    text-decoration: none;
    .item__photo{
      display: block;
      img{
        object-fit: cover;
        width: 220px;
        height: 220px;
        display: inline;
      }
    }
    .item__body{
      padding: 16px;
      height: 110px;
      &__name{
        font-weight: 400;
        height: 90px;
        line-height: 1.5;
        word-break: break-word;
        white-space: normal;
        font-size: 16px;
        color: #333;
      }
      &__num{
        display: flex;
        justify-content: space-between;
        height: 15px;
        &__price{
          font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
          font-size: 17px;
          font-weight: 600;
          color:#333;
          max-width: 40px;
        }
        &__like{
          font-size: 16px;
          font-weight: 400;
          color: #333;
        }
      }
    }
  }
}
// ここまでアイテム詳細ページのアイテム一つあたりのスタイル

// アイテムの売り切れ表示
.sold_tag {
  position: absolute;
  top: 0;
  font-size: 23px;
  left: 0;
  z-index: 2;
  color: #fff;
  
  letter-spacing: 2px;
  font-weight: 600;
  p {
    transform: rotate(-45deg);
    position: relative;
    z-index: 3;
    top : 15px;
    right: 2px;
  }
}
.sold_tag:after {
  border-width: 100px 100px 0 0;
  border-color: #ea352d transparent transparent transparent;
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 0;
  height: 0;
  border-style: solid;
}
// ここまで売り切れ表示


// ここから商品購入確認ページ
.buy_comfirmation {
  position: relative;
  min-height: 100%;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-size: 14px;
  color: rgb(51, 51, 51);
  line-height: 1;
  background: rgb(245, 245, 245);

  .buy_comfirmation-header {
    height: 128px;
    .buy_comfirmation-wrapper {
      width: 185px;
      height: 49px;
      line-height: 49px;
      margin: 0 auto;
      padding-top: 40px;
    }
  }

  .buy_comfirmation-main {
    display: block;
    .buy-item-container {
      width: 700px;
      margin: 0 auto;
      background: #fff;
      &__title {
        padding: 16px;
        font-size: 22px;
        line-height: 1.5;
        text-align: center;
        font-weight: bold;
      }

      &__details {
        margin: 0;
        padding: 24px 12.5% 0;
        border-top: 1px solid #f5f5f5;
        text-align: center;
        &__box {
          max-width: 320px;
          margin: 0 auto;
          .box-wrapper {
            display: flex;
            h3 {
              font-size: 22px;
              height: 24%;
              width: 24%;
              clear: right;
              .lazyloaded {
                width: 64px;
              }
            }
            .buy-item-name {
              margin-left: 16px;
              text-align: left;
              font-size: 16px;
              line-height: 1.5;
              font-weight: 600;
            }
          }

          .payment-form {
            width: 100%;
            .buy-price {
              margin-top: 8px;
              line-height: 1.5;
              font-size: 22px;
              font-weight: bold;
              .shipping-fee {
                margin-left: 8px;
                font-size: 14px;
                font-weight: 400;
              }
            }
            .user-point {
              background: #ccc;
              margin-top: 16px;
              .user-point-box {
                .now-point {
                  padding: 16px;
                  border: 1px solid #ccc;
                }
              }
            }
            .price-table {
              .final-price-box {
                font-size: 18px;
                font-weight: 600;
                width: 100%;
                .price-cell-left {
                  text-align: left;
                  display: table-cell;
                  padding: 16px 0;
                  width: 187px;
                }
                .price-cell-right {
                  text-align: right;
                  display: table-cell;
                  padding: 16px 0;
                  width: 133px;
                  span {
                    font-size: 28px;
                    text-align: right;
                  }
                }
              }
            }
            .buy-btn {
              width: 100%;
              margin-top: 8px;
              background: #ea352d;
              border: 1px solid #ea352d;
              color: #fff;
              line-height: 48px;
              font-size: 14px;
              display: block;
            }
          }
        }
      }

      &__user-info {
        margin-top: 40px;
        padding: 24px 12.5% 0;
        border-top: 1px solid #f5f5f5;
        &__box {
          max-width: 320px;
          margin: 0 auto;
          h3 {
            font-weight: bold;
          }
          address {
            display: block;
            margin-top: 8px;
            line-height: 1.4;
          }
          p {
            margin-top: 8px;
          }
          a {
            display: block;
            text-align: right;
            color: #0099e8;
            text-decoration: none;
            span {
              vertical-align: middle;
            }
            i {
              margin-left: 8px;
              font-size: 10px;
            }
          }
        }
      }

      &__payment {
        margin-top: 40px;
        padding: 24px 12.5% 40px;
        border-top: 1px solid #f5f5f5;
        &__box {
          max-width: 320px;
          margin: 0 auto;
          h3 {
            font-weight: bold;
          }
          p {
            margin-top: 8px;
            line-height: 1.4;
          }
          figure {
            margin: 0;
          }
          a {
            display: block;
            text-align: right;
            color: #0099e8;
            text-decoration: none;
            span {
              vertical-align: middle;
            }
            i {
              margin-left: 8px;
              font-size: 10px;
            }
          }
        }
      }
    }
  }

  .buy_comfirmation-footer {
    text-align: center;
    padding: 10px 0;
    &__list {
      word-spacing: 0.4rem;
      margin: 16px 0 0;
      list-style: none;
      font-size: 12px;
    }
    &__logo {
      display: block;
      margin: 40px 188px;
      p {
        margin: 8px 0 0;
        small {
          font-size: 12px;
        }
      }
    }
  }
}
// ここまで商品購入確認ページ

#overlay {
  //モーダルウィンドウの背景を設定
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  //透過度をつける
    background: rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 1;
  }
  
#modalWindow {
// モーダルウィンドウの画面を設定(高さ・幅は調整ください)
  width: 500px;
  height: 200px;
  position: absolute;
//トップからの場所を指定（topをいじれば高さが調整できます）
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 2;
//flexboxで子要素のボタンとメッセージボックスの要素を配置する
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
    .modal-message-bottom{
      display: flex;
      width:100%;
    }
  .modal-message-box {
    width: 100%;
//下記heightの60pxはボタンの高さで、それを画面の大きさから引いています。
    height: calc(100% - 60px);
    text-align: center;
//flexboxで文字の配置を決める（縦方向、中央揃え）
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  #modal-close-btn {
    width: 50%;
    height: 60px;
  }
  #modal-close-btn-delete{
    width:50%;
  }
  #delete-comformation-btn {
    width: 100%;
    height: 60px;
  }
}
