.user-identification-form
  %section.user-identification-form__body
    %h2.user-identification-form__body__title
    %form.user-identification-form__body__forms
      .user-identification-form__body__forms__content
        %p.user-identification-form__body__forms__content__text
        %p.user-identification-form__body__forms__content__up-link
          = link_to extra_view_path, class: "user-identification-form__body__forms__content__up-link" do
            