.exhibition {
  width: 100%;
  background-color: #eee;


  .feader {
  }

	.content {
		background-color: white;
		margin: 0 333px;
		display: block;
		.content__title {
			text-align: center;
			font-size: 22px;
			padding: 32px 16px;
		}
		.content__images {

		}
	}
	
  .footer {

  }

}