.buy_comfirmation {
  position: relative;
  min-height: 100%;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-size: 14px;
  color: rgb(51, 51, 51);
  line-height: 1;
  background: rgb(245, 245, 245);

  .buy_comfirmation-header {
    height: 128px;
    .buy_comfirmation-wrapper {
      width: 185px;
      height: 49px;
      line-height: 49px;
      margin: 0 auto;
      padding-top: 40px;
    }
  }

  .buy_comfirmation-main {
    display: block;
    .buy-item-container {
      width: 700px;
      margin: 0 auto;
      background: #fff;
      &__title {
        padding: 16px;
        font-size: 22px;
        line-height: 1.5;
        text-align: center;
        font-weight: bold;
      }

      &__details {
        margin: 0;
        padding: 24px 12.5% 0;
        border-top: 1px solid #f5f5f5;
        text-align: center;
        &__box {
          max-width: 320px;
          margin: 0 auto;
          .box-wrapper {
            display: flex;
            h3 {
              font-size: 22px;
              height: 24%;
              width: 24%;
              clear: right;
              .lazyloaded {
                width: 64px;
              }
            }
            .buy-item-name {
              margin-left: 16px;
              text-align: left;
              font-size: 16px;
              line-height: 1.5;
              font-weight: 600;
            }
          }

          .payment-form {
            width: 100%;
            .buy-price {
              margin-top: 8px;
              line-height: 1.5;
              font-size: 22px;
              font-weight: bold;
              .shipping-fee {
                margin-left: 8px;
                font-size: 14px;
                font-weight: 400;
              }
            }
            .user-point {
              background: #ccc;
              margin-top: 16px;
              .user-point-box {
                .now-point {
                  padding: 16px;
                  border: 1px solid #ccc;
                }
              }
            }
            .price-table {
              display: table;
              border-collapse: collapse;
              width: 100%;
              .final-price-box {
                border: 0;
                font-size: 18px;
                font-weight: 600;
                .price-cell-left {
                  text-align: left;
                  display: table-cell;
                  padding: 0 16px;
                }
                .price-cell-right {
                  text-align: right;
                  display: table-cell;
                  padding: 16px 0;
                  span {
                    font-size: 28px;
                    text-align: right;
                  }
                }
              }
            }
            .buy-btn {
              width: 100%;
              margin-top: 8px;
              margin: 0 auto;
              background: #ea352d;
              border: 1px solid #ea352d;
              color: #fff;
              display: block;
              line-height: 48px;
              font-size: 14px;
            }
          }
        }
      }

      &__user-info {
        margin-top: 40px;
        padding: 24px 12.5% 0;
        border-top: 1px solid #f5f5f5;
        &__box {
          max-width: 320px;
          margin: 0 auto;
          h3 {
            font-weight: bold;
          }
          address {
            display: block;
            margin-top: 8px;
            line-height: 1.4;
          }
          p {
            margin-top: 8px;
          }
          a {
            display: block;
            text-align: right;
            color: #0099e8;
            text-decoration: none;
            span {
              vertical-align: middle;
            }
            i {
              margin-left: 8px;
              font-size: 10px;
            }
          }
        }
      }

      &__payment {
        margin-top: 40px;
        padding: 24px 12.5% 40px;
        border-top: 1px solid #f5f5f5;
        &__box {
          max-width: 320px;
          margin: 0 auto;
          h3 {
            font-weight: bold;
          }
          p {
            margin-top: 8px;
            line-height: 1.4;
          }
          figure {
            margin: 0;
          }
          a {
            display: block;
            text-align: right;
            color: #0099e8;
            text-decoration: none;
            span {
              vertical-align: middle;
            }
            i {
              margin-left: 8px;
              font-size: 10px;
            }
          }
        }
      }
    }
  }

  .buy_comfirmation-footer {
    text-align: center;
    padding: 10px 0;
    &__list {
      word-spacing: 0.4rem;
      margin: 16px 0 0;
      list-style: none;
      font-size: 12px;
    }
    &__logo {
      display: block;
      margin: 40px 188px;
      p {
        margin: 8px 0 0;
        small {
          font-size: 12px;
        }
      }
    }
  }
}