.buy_comfirmation {
  position: relative;
  min-height: 100%;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-size: 14px;
  color: rgb(51, 51, 51);
  line-height: 1;
  background: rgb(245, 245, 245);

  .buy_comfirmation-header {
    height: 128px;
    .buy_comfirmation-wrapper {
      width: 185px;
      height: 49px;
      line-height: 49px;
      margin: 0 auto;
      padding-top: 40px;
    }
  }

  .buy_comfirmation-main {
    display: block;
    .buy-item-container {
      width: 700px;
      margin: 0 auto;
      background: #fff;
      &__title {
        padding: 16px;
        font-size: 22px;
        line-height: 1.5;
        text-align: center;
        font-weight: bold;
      }
    }
  }
}