.default-container{
  background-color: #f5f5f5;
  .merkari-header {
    height: 100px;
    width: 100%;
    background-color: pink;
    .nav-var {
      height: 49px;
      width: 1090px; 
      background-color: pink;
    }
  }
  main.user-profile {
    margin: 40px auto 0;
    width: 1020px;
    display: block;
    overflow: auto;
    .profile-main {
      float: right;
      width: 700px;
      background: #fff;
      &__title {
        font-size: 24px;
        padding: 8px 24px;
        text-align: center;
        line-height: 1.4;
      }
      .profile-form {
    
        .profile-icon {
          padding: 72px 16px 24px;
          background-image: url("user-bg.jpg");
          background-repeat: no-repeat;
          background-size: cover;
          text-align: center;
          .member_photo_noimage_thumb {
            display: inline-block;
            overflow: hidden;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            vertical-align: middle;
          }
          &__input {
            margin: 0 0 0 8px;
            vertical-align: middle;
            
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
          }
        }
        .profile-text {
          padding: 40px 16px;
          &__input{
            min-height: 216px;
            display: block;
            width: 98%;
            max-width: 98%;
            padding: 10px;
            border: 1px solid #ccc;
            background: #fff;
            font-size: 16px;
            line-height: 1.5;
          }
          &__btn {
            margin: 16px 0 0;
            background: #ea352d;
            border: 1px solid #ea352d;
            color: #fff;
            cursor: pointer;
            text-align: center;
            display: block;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
          }
        }
      }
    }
    .profile-side {
      float: left;
      margin: 0 40px 0 0;
    }
  }
}