* {
    border-style: solid;
    border-width: 0;
    font-size: inherit;
    line-height: inherit;
    box-sizing: inherit;
}

.single-container {
  position: relative;
  min-height: 100%;
  background: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1;
  // padding: 0 0 220px;
  .single-header {
    height: 128px;
    text-align: center;
    .mercari-logo {
      margin: 40px 0 0;
      display: inline-block;
      box-sizing: border-box;
      &__link {
        width: 185px;
        height: 49px;
        line-height: 49px;
        display: inline-block;
        color: #0099e8;
        text-decoration: none;
        touch-action: manipulation;
        img {
          width: 185px;
          height: 49px;
          vertical-align: middle;
        }
      }
    }
    .progress-bar {
      padding: 40px 0 0 44px;
      border: 0;
      display: inline-block;
      vertical-align: top;
      font-size: 0;
      text-align: center;
      ol {
        margin: 0;
        list-style: none;
        li {
          box-sizing: border-box;
          margin: 0 40px 0 0;
          min-width: 60px;
          font-size: 12px;
          display: inline-block;
          z-index: 1;
          position: relative;
          .progress-status {
            background: #ccc;
            width: 12px;
            height: 12px;
            margin: 8px auto 0;
            border-radius: 50%;
          }
          .progress-status:after {
            left: 50%;
            position: absolute;
            bottom: 5px;
            z-index: -1;
            display: block;
            content: '';
            width: 100%;
            height: 2px;
            border-style: solid;
            border-width: 0;
            text-decoration: inherit;
            vertical-align: inherit;
            box-sizing: inherit;
            background: #ea352d;
          }
          .progress-status:before {
            right: 50%;
            position: absolute;
            bottom: 5px;
            z-index: -1;
            display: block;
            content: '';
            width: 100%;
            height: 2px;
            background: #ea352d;
          }
          .first:before {
            content: none;
          }
          .last:after {
            content: none;
          }
          .gray:before {
            background: #ccc;
          }
          .gray:after {
            background: #ccc;
          }
          .right-gray:after {
            background: #ccc;
          }
        }
        .active {
          font-weight: 600;
          color: #ea352d;
          .progress-status {
            background: #ea352d;
            width: 12px;
            height: 12px;
            margin: 8px auto 0;
            border-radius: 50%;
          }
        }
      }
    }
  }
  .single-main {
    .l-single-container {
      width: 700px;
      margin: 0 auto;
      background-color: #fff;
      .new-registration {
        font-size: 22px;
        text-align: center;
        line-height: 1.5;
        padding: 32px;
        font-weight: 600;
      }
      .new-registration-form {
        border-top: 1px solid #f5f5f5;
        &__content {
          max-width: 343px;
          margin: 0 auto;
          padding: 40px 40px 64px;
          .mail-btn{
            display: block;
            color: #fff;
            background-color: #ea352d;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            border: 1px solid transparent;
            transition: all ease-out .3s;
            cursor: pointer;
            text-align: center;
            border-radius: 4px;
            text-decoration: none;
            position: relative;
            .mail-icon {
              position: absolute;
              top: 16px;
              left: 16px;
              font-size: 16px;
              box-sizing: border-box;
            }
          }
          .sms-info {
            margin: 8px 0 0;
            line-height: 1.5;
          }
          &--form {
            margin-top: 32px;
            label {
              font-weight: 600;
              display: inline-block;
            }
            .form-require {
              background: #ea352d;
              margin: 0 0 0 8px;
              padding: 2px 4px;
              border-radius: 2px;
              color: #fff;
              font-size: 12px;
              vertical-align: top;
            }
            .input-default {
              width: 100%;
              margin: 8px 0 0;
              height: 48px;
              padding: 10px 16px 8px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: #fff;
              line-height: 1.5;
              font-size: 16px;
              min-height: 1.5em;
              font-family: inherit;
              -webkit-appearance: none;
              touch-action: manipulation;
              color: inherit;
              box-sizing: border-box;
              // clear: both;
            }
            .half {
              width: calc(50% - 6px);
              // margin-right: 8px;
              display: inline-block;
              // float: left;
            }
            .subhead-chapter {
              font-size: 16px;
              font-weight: 600;
            }
            .subhead-text {
              margin: 8px 0 0;
              line-height: 1.5;
            }
            .birthday {
              clear: both;
              &__select {
                width: 76px;
                margin: 8px 0 0;
                position: relative;
                background: #fff;
                display: inline-block;
                .select-default {
                  padding: 0 10px;
                  width: 100%;
                  position: relative;
                  z-index: 2;
                  height: 48px;
                  border-radius: 4px;
                  border: 1px solid #ccc;
                  background: 0;
                  font-size: 16px;
                  line-height: 1.5;
                  cursor: pointer;
                }
              }
            }
          }
          .facebook-login {
            border-radius: 4px;
            margin: 16px 0 0;
            background: #385185;
            color: #fff;
            position: relative;
            display: block;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            border: 1px solid transparent;
            -webkit-transition: all ease-out .3s;
            transition: all ease-out .3s;
            cursor: pointer;
            text-align: center;
            box-sizing: border-box;
            .facebook-icon {
              font-weight: 400;
              position: absolute;
              top: 50%;
              left: 16px;
              -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
              font-size: 26px;
            }
          }
          .btn-sns.btn-sns-google {
            border-radius: 4px;
            margin: 16px 0 0;
            background: #fff url(google.svg) no-repeat 3px top;
            border: solid 1px black !important;
            color: #333;
            display: block;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            border: 1px solid transparent;
            -webkit-transition: all ease-out .3s;
            transition: all ease-out .3s;
            cursor: pointer;
            text-align: center;
            box-sizing: border-box;
            position: relative;
            .google-icon {
              font-weight: 400;
              position: absolute;
              top: 50%;
              left: 16px;
              -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
              font-size: 26px;
              color: purple;
            }
          }
        }
        .robo {
          border: solid 1px red;
          background-color: rgb(240, 246, 255);
          padding: 10px;
          .robo-check {
            margin-right: 30px;
          }
        }
        .next-info-text {
          line-height: 1.5;
          text-align: center;
          .guid {
            text-decoration: none;
            color: #0099e8;
          }
        }
      }
      .next-btn {
        margin-top: 32px;
        margin: 24px 0 0;
        background: #ea352d;
        border: 1px solid #ea352d;
        color: #fff;
        display: block;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        transition: all ease-out .3s;
        cursor: pointer;
        text-align: center;
        box-sizing: border-box;
      }
      .text-right {
        text-align: right;
        a {
          text-decoration: none;
          color: #0099e8;
        }
        .arrow-right {
          font-weight: 600;
          color: #0099e8;
        }
      }
      .form-info-text {
        margin: 8px 0 0;
        line-height: 1.5;
        color: #888;
      }
    }
  }
  .single-footer {
    width: 456px;
    height: 220px;
    margin: 0 auto;
  }
}

